<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SIXDEGREES_API_KEY</key>
    <string>621b497b26d203398e7c514c190a48eca757433b</string>
    <key>SIXDEGREES_PRIVATE_KEY</key>
    <string>e5ee0fa149e1a9e41277cc65bf948e4f49ad01d5</string>
</dict>
</plist>
 
    
